body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f9; */
    background-color: #b1b1b1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    /* background: #fff; */
    background-color: #d2ffff;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

.label-file {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.label-file:hover {
    background-color: #45a049;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #007B9A;
}

.result {
    margin-top: 20px;
    color: #333;
}
